In [1]:
# Setup

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

from matplotlib import pyplot as plt

In [2]:
# Read in the input data

Exons1 = pd.read_csv('Exons1.csv')
ProteinFeatures = pd.read_csv('ProteinFeatures.csv')

In [3]:
# View basic parameters

Exons1.head()

  Gene_feature  Gene_FeatStart  Gene_FeatEnd
0          CDS            5264        135342
1       Exon_1            5001          5312
2       Exon_2           55985         56122
3       Exon_3           76688         76786
4       Exon_4           82613         82718

In [4]:
ProteinFeatures.head()

       Protein_feature_name  ProtSeq_FeatStart  ProtSeq_FeatEnd
0                       CDS                  1              757
1                      LDLa                 27               62
2  Putative_binding_surface                 32               53
3            Glycosylation1                 36               36
4      Calcium_binding_site                 45               59

In [5]:
Codon_FeatStart = ((ProteinFeatures.loc[:, 'ProtSeq_FeatStart'])*3)-2
Codon_FeatStart

0        1
1       79
2       94
3      106
4      133
5      163
6      379
7      451
8      523
9      595
10     667
11     742
12     814
13     814
14     886
15     958
16     973
17    1030
18    1102
19    1219
20    1228
21    1318
22    1330
23    1381
24    1453
25    1459
26    1576
27    1582
28    1726
29    1732
30    1861
31    1888
32    1954
33    1978
Name: ProtSeq_FeatStart, dtype: int64

In [6]:
mRNA_FeatStart = Codon_FeatStart + ((Exons1.loc[0,'Gene_FeatStart']-1))
mRNA_FeatStart

0     5264
1     5342
2     5357
3     5369
4     5396
5     5426
6     5642
7     5714
8     5786
9     5858
10    5930
11    6005
12    6077
13    6077
14    6149
15    6221
16    6236
17    6293
18    6365
19    6482
20    6491
21    6581
22    6593
23    6644
24    6716
25    6722
26    6839
27    6845
28    6989
29    6995
30    7124
31    7151
32    7217
33    7241
Name: ProtSeq_FeatStart, dtype: int64

In [7]:
Codon_FeatEnd = ((ProteinFeatures.loc[:, 'ProtSeq_FeatEnd'])*3)-2
Codon_FeatEnd

0     2269
1      184
2      157
3      106
4      175
5      175
6      379
7      514
8      586
9      658
10     730
11     805
12     877
13     814
14     949
15    1021
16     973
17    1093
18    1102
19    1297
20    1288
21    1393
22    1390
23    2011
24    1543
25    1519
26    1642
27    1642
28    1813
29    1792
30    1951
31    1948
32    2014
33    2053
Name: ProtSeq_FeatEnd, dtype: int64

In [8]:
mRNA_FeatEnd = Codon_FeatEnd + ((Exons1.loc[0,'Gene_FeatStart']-1))
mRNA_FeatEnd

0     7532
1     5447
2     5420
3     5369
4     5438
5     5438
6     5642
7     5777
8     5849
9     5921
10    5993
11    6068
12    6140
13    6077
14    6212
15    6284
16    6236
17    6356
18    6365
19    6560
20    6551
21    6656
22    6653
23    7274
24    6806
25    6782
26    6905
27    6905
28    7076
29    7055
30    7214
31    7211
32    7277
33    7316
Name: ProtSeq_FeatEnd, dtype: int64

In [9]:
mRNA_FeatStart = Codon_FeatStart + ((Exons1.loc[0,'Gene_FeatStart']-1))
spliced_mRNA_FeatStart = []
Feat_ExonNumber = []
Gene_FeatStart = Exons1.loc[:, 'Gene_FeatStart']
Gene_FeatEnd = Exons1.loc[:,'Gene_FeatEnd']
n = 1
f = 1
m = n+1

while mRNA_FeatStart[f] > Gene_FeatEnd[n]:
    mRNA_FeatStart[f] = mRNA_FeatStart[f] - Gene_FeatEnd[n] + Gene_FeatStart[m]
    n+=1
    m = n+1
    continue
spliced_mRNA_FeatStart.append(mRNA_FeatStart[f])
Feat_ExonNumber.append(n)

print(spliced_mRNA_FeatStart)
print(Feat_ExonNumber)

[56015]
[2]